/*Header App*/
.bg_header .nm_company{
	font-size: 18px;
	font-weight: 600;
}
.bg_header .navbar{
	background-color: #FFFFFF;
	border-bottom: 1px solid #E6E7E8;
}
.bg_header .navbar-brand{
	margin-top: -5px;
	padding-left: 0px;
}
.bg_header .navbar-brand img{
    padding-top: 5px;
    padding-left: 0px;
	height: 50px;
}
.bg_header .navbar-nav{
	position: absolute;
	right: 1%;
	font-size: 14px;
}
.bg_header span.notif{
	display: block;
}
.bg_header span.notif.cog{
	position: relative;
	float: right;
	height: 20px;
	margin-top: -10px;
	margin-left: 0px;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 2.5px;
	border-radius: 2.5px;
	background-color: #A63234;
	color: #FFFFFF;
	z-index: 9;
	font-weight: 600;
	font-size: 14px;
}
.bg_header .navbar-nav .nav-item{
	float: left;
}
.bg_header .navbar-nav .nav-item .notif{
	position: relative;
	float: left;
	height: 20px;
	margin-top: -17px;
	margin-left: -10px;
	padding-left: 5px;
	padding-right: 5px;
	border-radius: 2.5px;
	background-color: #3789C1;
	color: #FFFFFF;
	z-index: 9;
	font-weight: 600;
}
.bg_header .navbar-nav .nav-item img{
	float: left;
	border-radius: 50%;
	width: 30px;
	height: 30px;
	margin-top: -5px;
	margin-right: 5px;
	object-fit: cover;
	border: 1px solid #E6E7E8;
}
.bg_header .navbar-nav i{
	float: left;
	font-size: 18px;
	margin-top: 1px;
	margin-right: 5px;
}
.bg_header .navbar-nav a{
	cursor: pointer;
	/* color: #201E1E; */
	color: rgb(105, 105, 105);
	/* color: #4B4B4D; */
}
.bg_header .navbar-nav a:hover{
	color: #3789C1;
}
.bg_header .navbar-toggler{
	color: #3789C1;
	font-size: 18px;
}