/*Sidebar*/
.sidebar{
	position: fixed;
	top: 0px;
	width: 280px;
    height: 100%;
	background-color: #FFFFFF;
	overflow-y: auto;
	overflow-x: hidden;
	transition: 0.5s;
	z-index: 100;
}
.btnSidebarMenu{
	position: fixed;
	top: 70px;
	width: auto;
	cursor: pointer;
	padding: 6px 12px;
	margin-top: 5px;
	border-radius: 0px 5px 5px 0px;
	font-size: 18px;
	color: #FFFFFF;
	background-color: #3789C1;
	z-index: 12;
	transition: 0.5s;
	display: none;
	margin: 5px 0px 0px 280px; 
	opacity: 0.7;
}
.btnSidebarMenu:hover{
	opacity: 1;
}
.linelogosidebar{
	width: 100%;
	height: 92px;
	top: 0px;
	text-align: center;
	z-index: 1201;
	background-color: #FFFFFF;
	border-bottom: 1px solid #E6E7E8;
	padding: 8px 5px;
	padding-top: 20px;
}
.linelogosidebar img{
	height: 50px;
}
.linelogosidebar_min{
	padding: 8px;
	padding-top: 20px;
}
.linelogosidebar_min img{
	height: 50px;
}
.bg_logo_sidebar{
	width: 100%;
	height: 72px;
	top: 0px;
	text-align: center;
	position: relative;
	left: -5px; /* Geser ke kiri */
	z-index: 1201;
	background-color: #FFFFFF;
	border-bottom: 1px solid #E6E7E8;
	padding: 8px 5px;	
}
.bg_logo_sidebar img{
    padding-top: 5px;
    padding-left: 10px;
	height: 50px;
}
.bg_logo_company_sidebar{
	width: 100%;
	top: 0px;
	text-align: center;
	z-index: 1201;
	background-color: #FFFFFF;
	padding: 8px 2px;
	border-bottom: 1px solid #E6E7E8;
	padding-bottom: 15px;
}
.bg_logo_company_sidebar img{
    padding-top: 5px;
    padding-left: 0px;
	width: 220px;
	margin-bottom: 10px;
}
.bg_logo_company_sidebar .nm_company{
	font-size: 16px;
	font-weight: 600;
}
.bg_sidebar{
	position: fixed;
	background-color: #FFFFFF;
	padding: 0px;
    margin-bottom: 100px;
    padding-bottom: 100px;
	border-right: 1px solid #E6E7E8;
	height: 100vh;
	overflow-y: auto;
	overflow-x: hidden;
	transition: 0.5s;
	z-index: 1201;
}
.bg_sidebar a{
	text-decoration: none;
}
.sub_sidebar{
	padding: 0px;
}
.sub_sidebar .list_sidebar{
	padding-left: 25px;
}
.sub_sidebar.show{
	transition: 0.5s;
}
.list_sidebar{
	width: 280px;
	padding: 8px 0px 15px 10px;
	border-bottom: 1px solid #E6E7E8;
	font-size: 16px;
	/* color: #201E1E; */
	color: rgb(105, 105, 105);
	/* color: #4B4B4D; */
	cursor: pointer;
	/* transition: 1s; */
}
.list_sidebar.akses{
	display: block;
}
.list_sidebar.home{
	display: block;
}
.list_sidebar.active{
	color: #FFFFFF;
    background-color: #3789C1;
}
.list_sidebar:hover{
	color: #3789C1;
}
.list_sidebar.active:hover{
	color: #FFFFFF;
}
.list_sidebar .txt{
	padding-top: 5px;
}
.list_sidebar .txt.sub_action{
	padding-left: 20px;
}
.list_sidebar .txt i{
	width: 17.5px;
	text-align: center;
	margin-right: 5px;
}
.list_sidebar span{
	float: right;
	font-size: 12px;
	padding-top: 6px;
	margin-right: 10px;
}
.list_sidebar select{
	width: 80px;
	height: 40px;
	padding: 7px 5px 5px 2px;
	background-color:#FFF;
	border:1px solid #E6E7E8;
	color:#0c5460;
    /* -moz-appearance: none; */
    cursor: pointer;
	border-radius: 5px;
	text-align: center;
	float: right;
	margin-right: 10px;
	margin-top: -7px;
}
.menu_sidebar a,.list_sidebar a:active{
	text-decoration: none;
}
.menu_sidebar a,.list_sidebar a:focus{
	text-decoration: none;
}
.list_sidebar_min{
	width: 280px;
	padding: 8px 0px 15px 10px;
	border-bottom: 1px solid #E6E7E8;
	font-size: 16px;
	/* color: #201E1E; */
	color: rgb(105, 105, 105);
	/* color: #4B4B4D; */
	cursor: pointer;
	/* transition: 1s; */
}
.list_sidebar_min .txt{
	margin-left: 15px;
}
.list_sidebar_min .txt i{
	font-size: 18px;
	margin-right: 30px;
}
.list_sidebar_min.subsidebar{
	display: none;
}